/* Auth Styles */
.auth-buttons {
	color: var(--white); 
	background-color: var(--logoText); 
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.ed-user-container {
	display: flex; 
	align-items: center; 
}

.logged-user {
	position: fixed;
	top: 10px;
	right: 10px;
	padding: 10px 20px;
	color: var(--logoText); 
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
}

.logged-user a {
	color: var(--logoText); 
	text-decoration: none;
}

.access-buttons {
	display: flex;
	justify-content: space-around;
	list-style: none;
	padding: 0 2rem;
	position: relative;
	margin-top: 2rem;
}

.auth-buttons:hover {
	background-color: #00acee; 
}
