#header {
  display: flex;
  align-items: center;
  background-color: var(--lightBlue);
  padding: 10px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
  height: 85px;
  width: 100vw;
}

.header-logo {
  display: flex;
  justify-content: center;
  width: 50px;
  height: auto;
  align-items:end;
}

.title {
  font-size: 27px;
  font-weight: bold;
  color: #fff; 
  text-decoration: none; 
}

.title:hover {
  text-decoration: none; 
  color: #fff; 
}

@media screen and (min-width: 1200px) {
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
}