#header {
  display: flex;
  align-items: center;
  background-color: var(--lightBlue);
  padding: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.header-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #fff; 
  text-decoration: none; 
}

.title:hover {
  text-decoration: none; 
  color: #fff; 
}
