/* General section styles */
.account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

/* Heading styles */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #1da1f2;
}

/* Account details container styles */
.account-details {
  text-align: center;
}

/* Avatar container styles */
.avatar-container {
  position: relative;
}

/* Avatar image styles */
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

/* Avatar edit container styles */
.avatar-edit {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Hidden file input for avatar upload */
input[type="file"] {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}

/* Custom label for file input */
.custom-label {
  background-color: #1da1f2;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  display: inline-block;
}

/* Visual style when hovering over the custom file input */
.custom-file-input:hover {
  background-color: #0c8de8;
}

/* Custom file input button styles */
.custom-file-input-button {
  background-color: #1da1f2;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
}

/* General button styles */
button {
  background-color: #1da1f2;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

/* Button hover effect */
button:hover {
  background-color: #0c8de8;
}

/* Text links styles */
h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

/* Styles for the "Change Avatar" button */
.avatar-edit button {
  background-color: #1da1f2;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

/* Hover effect for "Change Avatar" button */
.avatar-edit button:hover {
  background-color: #0c8de8;
}

/* Styles for the "Save" button */
.avatar-edit .save-button {
  background-color: #1da1f2;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px; /* Increase top margin to separate from avatar */
}

/* Hover effect for the "Save" button */
.avatar-edit .save-button:hover {
  background-color: #0c8de8;
}

/* Styles for buttons with links */
.account-actions button {
  background-color: #1da1f2;
  color: white;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
}

/* Styles for the link within a button */
.account-actions button a {
  text-decoration: none;
  color: inherit;
}
