/* Styles for the registration form */

/* Center-align the entire section and add some padding */
.register-from{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Style for the main heading */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #1da1f2; /* Blue color for the heading */
}

/* Style for the form container */
form {
  width: 100%;
  max-width: 400px;
}

/* Style for form fieldsets (grouping of related form elements) */
fieldset {
  margin-bottom: 20px;
  border: none; /* Remove borders around fieldsets */
}

/* Style for form labels */
label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  color: #333; /* Dark gray color for labels */
}

/* Style for form input fields */
input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc; /* Light gray border around input fields */
  border-radius: 4px;
  background-color: #f5f8fa; /* Light gray background color for input fields */
  color: #333; /* Dark gray text color */
}

/* Style for the form submission button */
button {
  background-color: #1da1f2; /* Blue background color for the button */
  color: #fff; /* White text color */
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Hover effect for the button */
button:hover {
  background-color: #0c8de8; /* Darker blue background on hover */
}

/* Style for paragraphs within the form */
p {
  color: #333; /* Dark gray text color */
  margin-top: 10px;
}

/* Style for links within h3 elements */
h3 a {
  color: #1da1f2; /* Blue color for links within h3 elements */
  text-decoration: none; /* Remove underline */
}

/* Hover effect for links within h3 elements */
h3 a:hover {
  text-decoration: underline; /* Underline on hover */
}

/* Style for regular links */
a {
  color: #1da1f2; /* Blue color for links */
  text-decoration: none; /* Remove underline */
  margin-top: 10px;
}

/* Hover effect for regular links */
a:hover {
  text-decoration: underline; /* Underline on hover */
}
