.access-buttons{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding:0 2rem;
    position: relative;
    margin-top: 8rem;
}

.logged-user {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    list-style: none;
}