*{
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

.navbar{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 3rem;
  bottom: 0;
  margin-top: auto;
  position: fixed;
  font-size: 10px;
  font-weight: 800;
  color: var(--logoText);
  background-color: var(--lightBlue);
  z-index: 999;
  }

  
.nav-list {
  list-style: none;
  display: flex;
  padding: 0;
}

.nav-item {
  cursor: pointer;
  width: 4rem;
}

.nav-item:hover {
  text-decoration: underline;
}
