/* global.css */

/* Importar estilos de componentes */
@import './styles/components/Auth.css';
@import './styles/components/HeaderBar.css';
@import './styles/components/LinkPost.css';
@import './styles/components/NavigationBar.css';
@import './styles/components/NewLink.css';
@import './styles/components/SwitchMode.css';
@import './styles/components/Loading.css';



/* Importar estilos de páginas */

@import './styles/pages/AccountPage.css';
@import './styles/pages/FilterPage.css';
@import './styles/pages/RegisterPage.css';
@import './styles/pages/MyLinks.css';

/* Otros estilos globales */


:root {
  --white: #ffffff;
  --lightBlue: #91C8E4;
  --mediumBlue: rgba(0, 0, 0, 0.64);
  --darkBlue: #4682A9;
  --blue: #0E2954;
  --blueGrey: #1F6E8C;
  --blueGreen:#2E8A99;
  --darkGreen:#84A7A1;
  --logoText: #0093FF;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--mediumBlue);
  background-color: var(--white);
}

#root{
  padding: 0;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(0, 147, 255, 1);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: rgba(0, 147, 255, 1);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

